<div *ngIf="isLoaded">
  <div class="container-fluid address">
    <div class="row justify-content-center address-title">
      <h1 class="title">Address</h1>
    </div>
    <div class="row address-content">
      <div class=" col-md-3 address-add">
        <button class="btn btn-primary address-button" (click)="addAddress()" >
          <h2 class="address-subtitle">
            Add Address
          </h2>
        </button>
      </div>

      <div class="row align-items-center justify-content-start col-md-8 address-list">
        <app-address-display (saveAddress)="saveAddress($event)" (removeAddress)="removeAddress($event)" *ngFor="let address of addresses"
          [address]="address"></app-address-display>
      </div>

    </div>
  </div>
</div>