<div *ngIf="loaded">
  <div class="row justify-content-center product">
    <h2 class="product-title">{{productData.Title}}</h2>
  </div>
  <div class="row justify-content-center">
    <div class="row product-content">
      <div class="content-data">
        <div class="content-parametrs">
          Release date:
          <span>{{productData.Released}}</span>
        </div>
        <div class="content-parametrs">
          Actors:
          <span>{{productData.Actors}}</span>
        </div>
        <div class="content-parametrs">
          Country:
          <span>{{productData.Country}}</span>
        </div>
        <div class="content-parametrs">
          Language:
          <span>{{productData.Language}}</span>
        </div>
        <div class="content-parametrs">
          Runtime:
          <span>{{productData.Runtime}}</span>
        </div>
        <div class="content-parametrs">
          Type video:
          <span>{{productData.Type}}</span>
        </div>
        <div class="content-parametrs">
          Rating IMDB:
          <span>{{productData.imdbRating}}</span>
        </div>
        <div class="row content-parametrs">
          Description: <span>{{productData.Plot}}</span>
        </div>
        <div>
          <button class="content-button">BUY</button>
        </div>
      </div>
      <div>
        <img src="{{productData.Poster}}" alt="{{productData.Title}}">
      </div>
    </div>
  </div>
</div>