$lightRed: rgba(255,0,0, 0.3);
$red: red;

.product{
    &-title{
        padding: 10px;
        color: rgba(255,0,0, 0.5);
    }

    &-content{
        padding: 20px 0;
        border-top: solid 2px $lightRed;
        .content{
           
            color: $red;

            &-parametrs{
                padding: 10px 0;
                color: rgba(255,0,0, 0.5);
                font-weight: bold;

                span{
                    word-wrap: normal;
                    color: $red;
                    font-weight: normal;
                }
            }

            &-data{
                width: 567px;
                height: 450px;
            }
        }
    }
}