<div class="row justify-content-center filter-title">
  <h2>Filters</h2>
</div>
<form class="row justify-content-center filter-form" #form="ngForm">
  <div *ngIf="categories.books" class="row align-items-center justify-content-between filter-element">
    <label>Author Name</label>
    <input pattern="^[a-zA-Z]+$" #author="ngModel" [ngClass]="{'element-invalid': author.invalid}" 
    [(ngModel)]="authorName" name="author" type="text" placeholder="jhon">
  </div>
  <div class="row align-items-center justify-content-between filter-element">
    <label *ngIf="(categories.video || categories.games) && !categories.books">Date of Release</label>
    <label *ngIf="categories.books">Maximum Date of Release</label>
    <input pattern="[0-9]{2}\.[0-9]{2}\.[0-9]{4}" *ngIf="categories.books || categories.games || categories.video" class="element-date" [(ngModel)]="maximumDate" name="maxDate"
       placeholder="01.01.2018" #maxDate="ngModel" [ngClass]="{'element-invalid': maxDate.invalid}">
  </div>
  <div *ngIf="categories.books" class="row align-items-center justify-content-between filter-element">
    <label> Minimum Date of Release</label>
    <input pattern="[0-9]{2}\.[0-9]{2}\.[0-9]{4}" class="element-date" [(ngModel)]="minimumDate" name="minDate" placeholder="01.01.2017"
    [ngClass]="{'element-invalid': minDate.invalid}" #minDate="ngModel">
  </div>

  <div *ngIf="categories.books" class="row align-items-center justify-content-between filter-element">
    <label>Maximum Reading Time, min</label>
    <input pattern="[0-9]{0,3}" class="element-time" #readingTime="ngModel" [(ngModel)]="ReadingTime" 
    [ngClass]="{'element-invalid': readingTime.invalid}" name="estimatedReadingTime" placeholder="100">
  </div>
  <div *ngIf="categories.games" class="row align-items-center justify-content-between filter-element">
    <label>Minimum Rating</label>
    <input pattern="[0-9]{1}\.[0-9]{1}" class="element-time" #rating="ngModel" [(ngModel)]="gamesRating" name="rating" placeholder="5.5"
    [ngClass]="{'element-invalid': rating.invalid}">
  </div>
  <div *ngIf="categories.video" class="row align-items-center justify-content-between filter-element">
    <label>TypeVideo</label>
    <select [(ngModel)]="typeVideo" name="typeVideo">
      <option value="all" selected>all</option>
      <option value="movie">movie</option>
      <option value="series">series</option>
      <option value="episodes">episodes</option>
    </select>
  </div>
  <div *ngIf="namePage == 'search'" class="row justify-content-center align-items-center filter-element">
    <label>Video</label>
    <mat-checkbox [(ngModel)]="categories.video" name="video"></mat-checkbox>
    <label>Books</label>
    <mat-checkbox [(ngModel)]="categories.books" name="books"></mat-checkbox>
    <label>Games</label>
    <mat-checkbox [(ngModel)]="categories.games" name="games"></mat-checkbox>
  </div>
  <div class="row justify-content-between filter-element">
    <button type="button" [disabled]="form.invalid" class="btn btn-primary element-button element-button-apply" (click)="changeParametrs($event)">Apply</button>
    <button class="btn btn-danger element-button element-button-reset" (click)="reset()">Reset</button>
  </div>
</form>