<div *ngIf="loaded">
  <div class="row justify-content-center product">
    <h2 *ngIf="product.title" class="product-title">{{product.title}}</h2>
  </div>
  <div class="row justify-content-center">
    <div class="row product-content">
      <div *ngIf="!text" class="content-data">
        <div *ngIf="product.year" class="content-parametrs">
          <span class="parametrs-title">Year:
          </span>{{product.year}}
        </div>
        <div *ngIf="product.author" class="content-parametrs">
          <span class="parametrs-title">Author:
          </span>{{product.author}}
        </div>

        <div *ngIf="product.genre" class="content-parametrs">
          <span class="parametrs-title">Genre:
          </span>{{product.genre}}
        </div>
        <div *ngIf="product.authorBiography" class="content-parametrs">
          <span class="parametrs-title">Author Biography:
          </span>
          <span [innerHTML]="product.authorBiography" class="content-biography"></span>
        </div>

        <div *ngIf="product.textWithHTML" class="content-parametrs">
          <span class="parametrs-title">
            <a (click)="showTextBook($event)" href="#">
              Extract From The Book
              <span class="parametrs-img-link"></span>
            </a>
          </span>
        </div>

        <div *ngIf="product.actors" class="content-parametrs">
          <span class="parametrs-title">Actors:
          </span>{{product.actors}}
        </div>
        <div *ngIf="product.estimatedReadingTime==0" class="content-parametrs">
          <span class="parametrs-title">Estimated Reading Time:
          </span>{{product.estimatedReadingTime}}
        </div>

        <div *ngIf="product.country" class="content-parametrs">
          <span class="parametrs-title">Country:
          </span>{{product.country}}
        </div>
        <div *ngIf="product.typeVideo" class="content-parametrs">
          <span class="parametrs-title">Type Video:
          </span>{{product.typeVideo}}
        </div>

        <div *ngIf="product.language" class="content-parametrs">
          <span class="parametrs-title">Language:
          </span>{{product.language}}
        </div>
        <div *ngIf="product.trailer" class="content-parametrs">
            <span class="parametrs-title">
          <a class=" parametrs-title-link" href="{{product.trailer}}"
            >Trailer<i class="material-icons">play_arrow</i></a>
          </span>
        </div>

        <div *ngIf="product.runtime" class="content-parametrs">
          <span class="parametrs-title">Runtime:
          </span>{{product.runtime}}
        </div>
        <div *ngIf="product.websites.length != 0" class="row align-items-center content-parametrs content-parametrs-websites">
          <span class="parametrs-title">Websites:
          </span><a *ngFor="let website of filteredWebsites()" href="{{website.url}}" class="row align-items-end parametrs-link">
            <i *ngIf="website.category == 1" class="material-icons material-icons-size">home</i>
            <img class="parametrs-link-img" *ngIf="website.category == 4" src="../../assets/img/social/facebook.png" alt="">
            <img class="parametrs-link-img" *ngIf="website.category == 5" src="../../assets/img/social/twitter.png" alt="">
            <img class="parametrs-link-img" *ngIf="website.category == 8" src="../../assets/img/social/instagram.png" alt="">
            <img class="parametrs-link-img" *ngIf="website.category == 9" src="../../assets/img/social/youtube.png" alt="">
          </a>
        </div>
        <div *ngIf="product.writers" class="content-parametrs">
          <span class="parametrs-title">Writers:
          </span>{{product.writers}}
        </div>
        <div *ngIf="product.description" class="content-parametrs">
          <span class="parametrs-title">Description: </span>{{product.description}}
        </div>
        <div class="row align-items-center justify-content-center content-buy">
          <div *ngIf="product.price !== 0" class="content-price">
            {{product.price | converter:profile.currency | currency:profile.currency:'symbol-narrow'}}
          </div>
          <button [ngClass]="{'content-button-buy': bought}" class="row align-items-center content-button" (click)="buyProduct()">
            <span *ngIf="!bought" class="content-button-img"></span>
            <span *ngIf="!bought">BUY</span>
            <span *ngIf="bought">BOUGHT</span>
          </button>
        </div>
      </div>

      <div *ngIf="text" class="content-data">
        <div *ngIf="product.year" class="content-parametrs">
          <span class="parametrs-title">Extract From The Book:
          </span>
          <span [innerHTML]="product.textWithHTML"></span>
        </div>
        <div *ngIf="product.textWithHTML" class="content-parametrs">
            <span class="parametrs-title">
              <a (click)="showTextBook($event)" href="#">
                Back
                <span class="parametrs-img-link"></span>
              </a>
            </span>
          </div>
      </div>

      <div class="">
        <div class="row align-items-center justify-content-center product-img-wrap">
          <div *ngIf="!product.imageUrl" class="product-img-wrap-text">
            No Image
          </div>
          <img class="product-img" *ngIf="product.imageUrl" src="{{product.imageUrl}}" alt="{{product.title}}">
        </div>
        <div *ngIf="product.rating" class="row align-items-center justify-content-center content-rating">Rating:
          <span class="rating-number">{{product.rating | number:'1.1-1'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>