$lightRed: rgba(255,0,0, 0.3);
$red: red;

a{
    text-decoration: none;
    color: red;
    //opacity: 0.7;
   
}

input{
    &:active{
        outline: none;
    }
    &:focus {outline: none;}
}
li{
    list-style: none;
}

.header{
    
    &-img{
        width: 100px;
        height: 100px;
    }

    &-search{
        opacity: 0.7;
    }
    &-button{
        color: white;
        background-color: $lightRed;
        display: flex;

        &-img{
            display: block;
            width: 32px;
            height: 32px;
            background: url('../../../../../assets/img/icons.png') no-repeat -351px -990px; //-140px -230px;
            background-size: 488px 2111px;
        }
    }

    &-dropdown-link{
        //color: rgba(255,0,0,0.5) !;
    }
}

.nav{
    &-menu{
        margin: 0;

        &-items{
            
        }
    }

    &-link{
        padding: 10px 10px 10px 50px;
        position: relative;

        &-video::before{
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            top: 2px;
            right: 65px;
            background: url('../../../../../assets/img/icons.png') no-repeat -416px -357px; //-140px -230px;
            background-size: 488px 2111px; 
            //opacity: 0.1;
        }

        &-books::before{
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            top: 2px;
            right: 60px;
            background: url('../../../../../assets/img/icons.png') no-repeat -40px -1332px; //-140px -230px;
            background-size: 488px 2111px; 
            //opacity: 0.1;
        }

        &-games::before{
            content: '';
            width: 32px;
            height: 36px;
            position: absolute;
            top: 2px;
            right: 60px;
            background: url('../../../../../assets/img/icons.png') no-repeat -103px -1122px; //-140px -230px;
            background-size: 488px 2111px; 
            //opacity: 0.1;
        }

        &:hover{
            border-radius: 5px;
            background-color: white;
        }

        &-active{
            border-radius: 5px;
            background-color: rgba(255, 0, 0, 0.3) !important;
        }
    }
}