<div *ngIf="loaded">
  <div class="container-fluid main">
    <div class="row justify-content-center main-title">
      <h1 *ngIf="nameCategory=='video'" class="title">Videos</h1>
      <h1 *ngIf="nameCategory=='books'" class="title">Books</h1>
    </div>
    <div class="row content">
      <div class="col-md-3 content-filter">
        <app-filter [namePage]="'search'" [categories]="categories" (resetItems)="resetItems()" (filterItems)="changeItems($event)"></app-filter>
      </div>
      <div class="col-md-9 content-products">
        <div *ngIf="isEmptySearch" class="row justify-content-center main-title">
          <h2 class="title">
            Search input is empty!
          </h2>
        </div>
        <div *ngIf="products.length!==0 && loaded" class="row align-items-end justify-content-start">
          <div *ngFor="let product of products" class="col-md-4 content-features">
            <div class="product-title">
              <a [routerLink]="['/product-page', product.type, product.id]">{{product.title}}</a>
            </div>
            <div class="row align-items-center justify-content-center content-img">
              <div *ngIf="!product.imageUrl" class="content-img-text">
                No Image
              </div>
              <img class="product-img" *ngIf="product.imageUrl" src="{{product.imageUrl}}" alt="{{product.title}}">
            </div>
            <div class="row justify-content-center pruduct-buy">
              <div class="product-price">{{product.type}}</div>
              <div class="product-price">{{product.year}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>