<div class="row justify-content-center main-title">
    <h1 class="title">New Products</h1>
</div>
<div class="row main-subtitle">
    <h2 class="subtitle">Video</h2>
</div>
<div class="row align-items-end main-row">
    <div *ngFor="let data of searchData" class="row col-md-4 justify-content-center main-features">
        <div class="features-wrap">
            <a [routerLink]="['/product-page', nameCategory, data.imdbID]" class="features-link" href="#">
                <div class="features-title">{{data.Title}}</div>
                <img class="features-img" src="{{data.Poster}}" alt="">
                <div class="features-text">{{data.Type}}</div>
            </a>
        </div>
    </div>
</div>
<!--<div class="row main-row">
    <div class="row col-md-4 justify-content-center main-features">
        <div class="features-wrap">
            <a href="#">
                <img class="features-img" src="../../../../../assets/img/cloud.png" alt="picture">
                <div class="row justify-content-center features-text">Облачный атлас</div>
            </a>
        </div>
    </div>
</div>-->